body{
    background-color: #6c5ce7;
    box-sizing: border-box;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}
.container{
    background-color: rgb(66, 234, 15);
    border: 1px solid rgb(13, 48, 222);
    padding: 20px;
    display: flexbox;
    width: 30%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;
    color: rgb(232, 2, 2);
}
.container input{
    margin-bottom: 10px;
}
#btn{
    margin-top: 20px;
    color: rgb(24, 1, 1);
    background-color: rgb(21, 218, 146);
    border: 1px solid rgb(184, 253, 8);
    padding: 5px 15px;
}
.answerBox{
    background-color: rgb(246, 7, 11);
    border: 1px solid black;
    padding: 0 20px;
    width: 30%;
    margin: 0 auto;
}
  